<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <p>Bien qu'inventé en Chine, le PFC est parvenu en occident via le Japon qui nous a légué son nom alternatif de Shifumi du fait que les japonais comptent jusqu'à trois avant de montrer leurs coups (Hi-fu-mi (一二三) signifiant « Un-deux-trois »)</p>
      </ion-card-content>
    </ion-card>
   <ion-button (click)="page('p2')">jouer</ion-button>
</ion-content>
